

  	body {
  		text-align: center; padding-top: 50px; font-size: 3em; font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif; background-color: black; color: white;
  	}
  	input {
  		width: 50%;
  		height: 50px;
  		color: white;
  		background-color: transparent;
  		border-radius: 10px;
  		text-transform: capitalize;
  	}

  	input:hover {
  		color: black;
  		background-color: white;

  	}

    #div4listing button {
      width: auto;
      font-size:.3em;
    }

  	button {
  		height: 50px;
  		width: 100px;
  		color: white;
  		background-color: black;
  		border-radius: 10px;
  		transition-duration: 0.4s;
  	}
  	button:hover {
  		background-color: white; /* Green */
  		color: black;
	}
    #mycontent {
      height: 80px;
    }
  	footer {
  		background-color: indigo;
  		width: 100%;
  		height: 120px;
  		font-size:1.8em;

  	}
  	p {
  		font-size: .5em;
  	}